<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    
    <add key="Folder2Backup" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q5\Folder2Backup"/>
    <add key="Backup_Folder" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q5\Backup_Folder"/>
    <add key="Backup_FolderPartB" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q5\Backup_Folder"/>
    <add key="LocationToSaveLastBackUpTime" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q5\k163810_Q5\BackupTime.txt"/>
    <add key="LocationToSaveLastUpdateCheckTime" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q5\k163810_Q5\UpdateCheckTime.txt"/>

    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="To" value ="ms.shahzaib777@gmail.com"/>
    <add key="From" value ="ms.shahzaib777@gmail.com"/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>